<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title | default: global.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description | default: global.description }}">
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="module" src="/js/scripts.js" defer></script>
  </head>
  <body class="body {{ class | default: 'page' }}" data-js="test">
    <main class="main {{ grid }}">
      {{ content }}
    </main>
  </body>